# URL base de la API Express
# Para desarrollo local usa: http://localhost:5000/api/v1
# Para producción usa: https://coche-comedor-api.onrender.com/api/v1
VITE_API_URL=https://coche-comedor-api.onrender.com/api/v1
